cosign.key
cosign.private
/Containerfile
/Containerfile-tmp
/tmp.yml
recipes/tmp.yml
recipes/recipe-tmp.yml
*tmp.*
.bluebuild-scripts_*
/.bluebuild-scripts_*
qcow2
manifest*
config.toml
Containerfile*
./containerfile
*.img