
[Desktop Entry]
Encoding=UTF-8
Name=Renoise Linux FAQ
Type=Link
URL=http://tutorials.renoise.com/wiki/Linux_FAQ
Icon=gnome-fs-bookmark

Name[en_US]=Renoise Linux FAQ
