<?xml version="1.0" encoding="UTF-8"?>
<!--
  If you want to customize this config, copy this file to the preferences folder
  next to your user 'Config.xml' file in a 'Fonts/' folder and modify it there.
  
  -> USER_CONFIG_PATH/Fonts/Config.xml
  
  Note that you can also use absolute paths to your custom font files as 'FileName'.
  Use optional <BaselineOffset> property to tweak vertical drawing offsets.
-->
<FontEngine doc_version="0">
  <Standard>
    <Size>10,10</Size>
    <FileName>Fonts/DejaVuSans.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </Standard>
  <StandardBig>
    <Size>12,12</Size>
    <FileName>Fonts/DejaVuSans.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </StandardBig>
  <Bold>
    <Size>10,10</Size>
    <FileName>Fonts/DejaVuSans-Bold.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </Bold>
  <Italic>
    <Size>10,10</Size>
    <FileName>Fonts/DejaVuSans-Oblique.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </Italic>
  <Monospaced>
    <Size>10,10</Size>
    <FileName>Fonts/DejaVuSansMono.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </Monospaced>
  <Code>
    <Size>11,11</Size>
    <FileName>Fonts/FiraCode-Regular.ttf</FileName>
    <AntiAlias>YES</AntiAlias>
  </Code>
</FontEngine>
