[Unit]
Description=Topgrade update service timer

[Timer]
RandomizedDelaySec=5m
OnBootSec=2m
OnUnitActiveSec=12h
Persistent=true

[Install]
WantedBy=timers.target
